<configuration>
<property>
  <name>{{ name_property_1 }}</name>
  <value>{{ value_property_1 }}</value>
</property>
<property>
  <name>{{ name_property_2 }}</name>
  <value>{{ value_property_2 }}</value>
</property>
<property>
   <name>{{ name_property_3 }}</name>
   <value>{{ value_property_3 }}</value>
</property>
</configuration>
